div.container {
    display: grid;
    grid-template-columns:auto auto auto;
    background-color:darkseagreen;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

